[submodule "force/lib/protocol-monorepo"]
	path = force/lib/protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "force/lib/openzeppelin-contracts"]
	path = force/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Trust-Foundry/lib/openzeppelin-contracts"]
	path = Trust-Foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Trust-Foundry/lib/protocol-monorepo"]
	path = Trust-Foundry/lib/protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "Trust-Foundry/lib/superfluid_foundry_template"]
	path = Trust-Foundry/lib/superfluid_foundry_template
	url = https://github.com/Fluid-X/superfluid_foundry_template
[submodule "Trust-Foundry/lib/chainlink"]
	path = Trust-Foundry/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "FoundryContracts/lib/forge-std"]
	path = FoundryContracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
